.section-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  flex-direction: column;
}
.form-task {
  width: 500px;
  border: 2px solid #f2f2f2;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-form {
  padding: 1rem;
  margin: 1rem auto;
  width: 90%;
}
.btn-form {
  margin-top: 2rem;
  width: 25%;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  color: #333;
}
.delete {
  background-color: red;
  color: #f2f2f2;
  margin-top: 0.5rem;
  width: 15%;
}
.delete:active {
  transform: scale(0.9);
}
.list-plus {
  padding: 1rem;
  margin: 2rem auto;
}
.task-card {
  margin: 1rem auto;
  padding: 0.5rem;
}
textarea {
  width: 90%;
  padding: 1rem;
  margin: 1rem auto;
}
.formulary {
  text-align: center;
  padding: 1rem;
  margin: 1rem auto;
  font-weight: 900;
  text-transform: uppercase;
}
